# Rust build targets & Nix
/target/
result
*.app/
*.dSYM/
.direnv/
/.pre-commit-config.yaml

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Editor & IDE noise
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
